.wrapper{
    width: 100%;
    font-size: 62.5%;
    // border: 3px solid green;
    .border-bottom-grey();
    .inner{
        // border: 3px solid blue;
        // .border-bottom-grey();
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }
    h1{
        font-size: 2rem;
        // font-family: Didot, serif;
        // font-weight: bold;
        // flex: 8;
        // text-align: center;
        // color: @color-primary;
    }
    p{
        font-size: 1rem;
        margin-bottom: 2%;
    }
}


.trip-button {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 20%;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    background-color: @color-primary;
   }
   
.trip-button:hover {
     background: @color-pink;
}
.content{
  width: 100%;
      // border: 3px solid blue;
      @media(min-width: 500px){
        width: 100%;
      }
    .content-section {
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
       
        
        .text-content {
          width: 48%;
          padding-right: 2%;
    
        }
    
        .img-content {
          width: 48%;
          padding-left: 2%;
    
          img {
            border-radius: 10px;
    
    
          }
        }
      }
    
      .inverse-content {
        // width: 100%;
        padding-bottom: 30px;
        .border-bottom-grey();
    
        .text-content {
          padding-left: 2%;
          padding-right: 0;
    
    
        }
    
        .img-content {
          padding-right: 2%;
          padding-left: 0;
    
    
        }
      }
}

.wrapper1 {
  width: 100%;
    .inner{
      // border: 3px solid blue;
      .border-bottom-grey();
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
  }
  h1{
      font-size: 2rem;
      // font-family: Didot, serif;
      // font-weight: bold;
      // flex: 8;
      // text-align: center;
      // color: @color-primary;
  }
  p{
      font-size: 1rem;
      margin-bottom: 2%;
  }
  a{
    margin-bottom: 10px;
  }
}

